button.cardstyle {
    width: 30%;
    height: 200px;
    /*    border: 1px solid grey;*/
    margin: 4px;
    padding-left: 5px;


}

button.cardstyle-1 {
    
    background-image: url(../img/1.jpg);
}


button.cardstyle-2 {
    background-image: url(../img/2.png);
}


button.cardstyle-3 {
    background-image: url(../img/3.jpg);
}


button.cardstyle-4 {
    background-image: url(../img/4.jpg);
}


button.cardstyle-5 {
    background-image: url(../img/5.jpg);
}

.costrow {
    position: absolute;
    bottom: 4px;
/*    margin-left: 0px;*/
        margin-left: -6px;
}

button.gembtn {
    margin: 4px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.red-gem {
    background: #e74c3c;
}

.violet-gem {
    background: #8e44ad;
}

.blue-gem {
    background: #2980b9;
}

.green-gem {
    background: #16a085;
}

.black-gem {
    background: #2d3436;
}

div.costGem {
/*    background: #e74c3c;*/
    height: 40px;
/*    margin: 4px;*/
/*    border-radius: 40px;*/
/*    min-width: 40px !important;*/
    padding-top: 4%;
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.costGem-1 {
    background: #e74c3c;
}

.costGem-2 {
    background: #8e44ad;
}

.costGem-3 {
    background: #2980b9;
}

.costGem-4 {
    background: #16a085;
}

.costGem-5 {
    background: #2d3436;
}
