button.cardstyle {
    width: 30%;
    height: 200px;
    /*    border: 1px solid grey;*/
    margin: 4px;
    padding-left: 5px;


}

button.cardstyle-1 {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/01/20/18/blur-1876100_960_720.jpg);
}


button.cardstyle-2 {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/31/13/13/rain-3443977_960_720.jpg);
}


button.cardstyle-3 {
    background-image: url(https://cdn.pixabay.com/photo/2017/06/15/17/31/background-2406119_960_720.jpg);
}


button.cardstyle-4 {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/19/17/19/texture-2659241_960_720.jpg);
}


button.cardstyle-5 {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/01/20/18/blur-1876100_960_720.jpg);
}

.costrow {
    position: absolute;
    bottom: 10px;
    margin-left: 0px;
}

button.gembtn {
    margin: 4px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

button.red-gem {
    background: #e74c3c;
}

button.violet-gem {
    background: #8e44ad;
}

button.blue-gem {
    background: #2980b9;
}

button.green-gem {
    background: #16a085;
}

button.black-gem {
    background: #2d3436;
}

div.costGem {
/*    background: #e74c3c;*/
    height: 40px;
    margin: 4px;
    border-radius: 40px;
/*    min-width: 40px !important;*/
    padding-top: 4%;
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.costGem-1 {
    background: #e74c3c;
}

.costGem-2 {
    background: #8e44ad;
}

.costGem-3 {
    background: #2980b9;
}

.costGem-4 {
    background: #16a085;
}

.costGem-5 {
    background: #2d3436;
}
